.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 183px;

    padding-top: 31px;
}

.header {
    width: 100%;
    height: 800px;

    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 0 0 54px 54px;

    color: white;

    .header__top {
        width: 1376px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
    }

    .header__menu {
        list-style-type: none;
        padding: 0 21px 0 21px;

        display: flex;
        column-gap: 54px;
    }


    .header__menu-item {
        text-transform: capitalize;
        opacity: 0.7;
    }

    .header__menu-item--active {
        opacity: 1;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .user-box {
        display: flex;
        column-gap: 8px;
        align-items: center;
    }

    .user-box__hello {
        font-weight: 600;
    }

    .user-box__hello span {
        display: block;
        text-align: right;

        font-weight: 400;
        opacity: 0.5;
    }

    .user-box__avatar {
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-image: url(../img/user.jpg);
    }

    .user-box__avatar::after {
        display: block;
        position: absolute;
        right: 0;

        content: "";
        width: 12px;
        height: 12px;
        background-color: red;
        border-radius: 50%;
       
    }

    .header__content {
        width: 863px;

        font-size: 48px;
        font-weight: 600;
        line-height: 62px;
    }

    .button {
        width: 273px;
        background-color: #7B61FF;
        border-radius: 12px;
        padding: 24px;
        margin: 0 auto;
        margin-top: 32px;
        
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 24px;
        color: white;

        display: flex;
        column-gap: 8px;
        justify-content: center;
        align-items: center;

        &::hover {
            opacity: 0.2;
        }
    }

    .header__form {
        width: 1140px;
        border-radius: 12px;
        background-color: white;
        padding: 8px;

        font-size: 14px;
        font-weight: 300;
        line-height: 16px;

        display: flex;
        align-items: center;
    }

    .form__block {
        display: flex;
        column-gap: 8px;
        align-items: center;

        width: 255px;
        padding: 16px;
        padding-right: 0px;
    }

    .block-location{
        width: 300px;
    }

    .form__title {
        color:#5B5B5B;
    }

    .form__select option {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    button {
        cursor: pointer;
        transition: background 0.5s ease-in-out;
    }

    button:hover {
        background: #7b61ffc3;
    }

    .button-search {
        width: 60px;
        height: 60px;
        padding: 18px;
        border-radius: 12px;
        background: #7B61FF;
    }

    .form__content {
        color: #161414;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .form__title {
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        color:#5B5B5B;
    }

    .custom-select-opener {
        padding: 0;
    }
    .custom-select-container.is-open .custom-select-panel {
        max-height: 10.7em;
        overflow-y: auto;
        width: 200px;
        border-radius: 10px;
        background-color: white;
    }

    .autoComplete_wrapper>input {
        width: 250px;
        height: 24px;
        background : 0;
        border: 0;
        padding: 0;

        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #161414 !important;
    }

    .autoComplete_wrapper>input:focus {
        border: 0;
    }

    .autoComplete_wrapper>input::placeholder, .autoComplete_wrapper>input:hover::placeholder {
        color: #161414;
    }

    .form_input-when {
        border: 0;
    }
}